DB_MODE=sqlite            # sqlite | oracle
SQLITE_PATH=./backend/flow.db

ORACLE_DB_USER=
ORACLE_DB_PASSWORD=
ORACLE_DB_DSN=            # e.g. host:1522/service_tp
ORACLE_DB_WALLET_DIR=     # only if using mTLS wallet
ORACLE_DB_WALLET_PASSWORD=

JWT_SECRET=change-me-in-production-please
JWT_EXPIRE_MINUTES=43200
